<div class="mdl-layout__header-row" style="background-color: white">
  <ul class="mdl-list">
    <li class="mdl-list__item control-buttons">
      <button class="mdl-button mdl-js-button mdl-button--icon" style="color: black">
        <i class="material-icons">refresh</i>
      </button>
    </li>
    <li class="mdl-list__item control-buttons" id="network-run-button">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background: #{color.scheme.color1}">
        <i class="material-icons">play_arrow</i>
      </button>
    </li>
    <li class="mdl-list__item control-buttons">
      <button class="mdl-button mdl-js-button mdl-button--icon" style="color: black">
        <i class="material-icons">skip_next</i>
      </button>
    </li>
  </ul>
</div>