style.
  .control-buttons {
    display: inline;
    padding: 1px;
  }

<header class="docs-layout-header mdl-layout__header is-casting-shadow" style="background-color: #{color.scheme.color1}">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">Create Net Dashboard</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">
        <i class="material-icons">folder_open</i>
      </a>
      <a class="mdl-navigation__link" href="">
        <i class="material-icons">save</i>
      </a>
      <a class="mdl-navigation__link" href="">
        <i class="material-icons">account_box</i>
      </a>
    </nav>
  </div>
  include control-header
</header>