extends layout
block content
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col" id="data-cell">
      <div class="mdl-data-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Training Data</h2>
        </div>
        <div class="mdl-card__supporting-text">
          p Add data for your Nueral Network to train against.
        </div>
        <div class="mdl-card__actions mdl-card--border mdl-upload-csv-card" style="background-color: #{color.scheme.color2}"">
          <form action="csv-upload" method="post" enctype="multipart/form-data" id='csv-data'>
            <div class="mdl-button mdl-js-button mdl-button--file" style="color: white">Import .CSV File
              <input type="file" accept=".csv" id="csvfile">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-shadow--2dp network-view">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Network Design</h2>
        </div>
        <div>
          include network-design
        </div>
      </div>
    </div>
  </div>
  script(src='/javascripts/features.js')
  script(src='/javascripts/outputs.js')
  script(src='/javascripts/hidden-layer.js')
  script(src='/javascripts/neuron.js')
  script(src='/javascripts/network.js')
  script(src='/javascripts/mlp-project.js')
  script(src='/javascripts/app.js')
