<span class="network-view-features">
  <div class="network-view-title" style="margin-bottom: 80px">FEATURES</div>
  <ul class="mdl-list features-list">
  </ul>
</span>
<span class=newtwork-view-layers>
  <div class="network-view-title">
    span 2 HIDDEN LAYERS
    <div class="ui-num-hidden-layers" style="display: inline-block">
      <button class="mdl-button mdl-js-button mdl-button--icon ui-button" style="background-color: #E37222;">
        <i class="material-icons material-icons">add</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--icon ui-button">
        <i class="material-icons material-icons">remove</i>
      </button>
    </div>
  </div>
  <div class="bracket"></div>
  <div class="newtwork-hidden-layer-column" style="width: 100px; min-height: 100px; display: inline-block; vertical-align: top;">
    <div class="ui-num-neurons" style="display: inline-block">
      <button class="mdl-button mdl-js-button mdl-button--icon ui-button" style="margin-left: 0px; background-color: #E37222;">
        <i class="material-icons material-icons">add</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--icon ui-button">
        <i class="material-icons material-icons">remove</i>
      </button>
    </div>
    <div class="num-neurons">
      p 2 neurons
    </div>
    <div class="neuron" style="margin:auto; margin-top:10px; margin-bottom:10px; width: 50px; height: 50px">
      <svg height="50" width="50">
        <circle cx="25" cy="25" r="25" fill="#66B9BF" />
      </svg>
    </div>
    <div class="neuron" style="margin:auto; margin-top:10px; margin-bottom:10px; width: 50px; height: 50px">
      <svg height="50" width="50">
        <circle cx="25" cy="25" r="25" fill="#66B9BF" />
      </svg>
    </div>
  </div>
  <div class="newtwork-hidden-layer-column" style="width: 100px; min-height: 100px; display: inline-block; vertical-align: top;">
    <div class="ui-num-neurons" style="display: inline-block">
      <button class="mdl-button mdl-js-button mdl-button--icon ui-button" style="margin-left: 0px; background-color: #E37222;">
        <i class="material-icons material-icons">add</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--icon ui-button">
        <i class="material-icons material-icons">remove</i>
      </button>
    </div>
    <div class="num-neurons">
      p 3 neurons
    </div>
    <div class="neuron" style="margin:auto; margin-top:10px; margin-bottom:10px; width: 50px; height: 50px">
      <svg height="50" width="50">
        <circle cx="25" cy="25" r="25" fill="#66B9BF" />
      </svg>
    </div>
    <div class="neuron" style="margin:auto; margin-top:10px; margin-bottom:10px; width: 50px; height: 50px">
      <svg height="50" width="50">
        <circle cx="25" cy="25" r="25" fill="#66B9BF" />
      </svg>
    </div>
    <div class="neuron" style="margin:auto; margin-top:10px; margin-bottom:10px; width: 50px; height: 50px">
      <svg height="50" width="50">
        <circle cx="25" cy="25" r="25" fill="#66B9BF" />
      </svg>
    </div>
  </div>
</span>
<span class="network-view-features">
  <div class="network-view-title" style="margin-bottom: 80px">OUTPUTS</div>
  <ul class="mdl-list features-list">
  </ul>
</span>