<span class="network-view-features">
  <div id="network">
    <svg id="svg" style="position: absolute; height: 500px"></svg>
  </div>
  <div class="network-view-title">FEATURES</div>
</span>
<span class=newtwork-view-layers>
  <div>
    <span id="hidden-layers-title"> 2 HIDDEN LAYERS </span>
    <div class="ui-num-hidden-layers" style="display: inline-block">
      <button class="mdl-button mdl-js-button mdl-button--icon ui-button" id="add-hidden-layer" style="background-color: #E37222;">
        <i class="material-icons material-icons">add</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--icon ui-button" id="remove-hidden-layer">
        <i class="material-icons material-icons">remove</i>
      </button>
    </div>
  </div>
  <div class="bracket"></div>
</span>
<span class="network-view-outputs">
  <div class="network-view-title">OUTPUTS</div>
  <ul class="mdl-list features-list">
  </ul>
</span>